
<h2>Wishit</h2>
<p>Create and share wishlists for birthdays, Christmas and other times you would like people to bring presents</p>
<p>
    <style>
      .edit-wishlist-item {
        display: inline;
        list-style-type: none;
      }
    </style>
    <button class="btn btn-primary btn-lg" data-bind="click: addWishlist">New wishlist &raquo;</button>
    <ul data-bind="foreach: wishlists">
      <li class="edit-wishlist-item">
        <button type="button" class="btn btn-link" data-bind="click: $parent.editWishlist, text: title"></button>
      </li>
    </ul>
</p>
<div data-bind="visible: undoDeleteWishlist, with: undoDeleteWishlist">
  <button data-bind="click: $parent.addWishlist, text: 'Undo delete ' + title()" type="button" class="btn btn-info btn-sm">Undo delete</button>
</div>
<div data-bind="visible: currentWishlist, with: currentWishlist">
  <label class="col-form-label">Title
    <input data-bind="textInput: title" required id="wishlistTitle" class="form-control" type="text" placeholder="Enter title for this wishlist"></input>
  </label>
  <button class="btn btn-primary btn-sm" data-bind="click: addWish">New wish &raquo;</button>
  <ol data-bind="foreach: wishes">
    <li>
      <form class="form-inline">
        <input data-bind="textInput: title" type="text" class="form-control" placeholder="Make your wish">
      </form>
    </li>
  </ol>
  <button data-bind="click: $parent.deleteWishlist" type="button" class="btn btn-danger btn-sm">Delete</button>
</div>
